/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./components/services.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jersey+10+Charted&display=swap");
.zigzag-container {
  /* ====== Header ====== */
  /* ====== Footer ====== */
  /* ======= Doc Styling ======= */
  /* Color Schemes */
  /* Sidebar */
  /*
  .affix-top {
    position: absolute;
    top: 15px;
  }

  .affix {
    top: 15px;
  }

  .affix, 
  .affix-bottom {
    width: 230px;
  }

  .affix-bottom {
    position: absolute;
  }
  */
  /* ===== Promo block ===== */
  /* Extra small devices (phones, less than 768px) */
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  /* ======= Landing Page ======= */
}
.zigzag-container body {
  font-family: "Cera Pro", arial, sans-serif;
  color: #4e5b5c;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.zigzag-container html, .zigzag-container body {
  height: 100%;
}
.zigzag-container .home-page p {
  font-size: 18px;
}
.zigzag-container p {
  font-size: 16px;
}
.zigzag-container .bold {
  font-family: "Cera Pro Bold", arial, sans-serif;
}
.zigzag-container .main-color {
  color: var(--main-color) !important;
}
.zigzag-container .mid-color {
  color: var(--mid-color) !important;
}
.zigzag-container .bright-color {
  color: var(--bright-color) !important;
}
.zigzag-container .page-wrapper {
  min-height: 100%;
  /* equal to footer height */
}
.zigzag-container .page-wrapper:after {
  content: "";
  display: block;
  height: 50px;
}
.zigzag-container .footer {
  padding: 20px 0;
}
.zigzag-container p, .zigzag-container h1, .zigzag-container h2, .zigzag-container h3, .zigzag-container h4, .zigzag-container h5, .zigzag-container h6 {
  line-height: 1.6;
}
.zigzag-container a {
  color: #3aa7aa;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.zigzag-container a:hover {
  text-decoration: underline;
  color: var(--main-color);
}
.zigzag-container a:focus {
  text-decoration: none;
}
.zigzag-container .btn, .zigzag-container a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}
.zigzag-container .btn .svg-inline--fa, .zigzag-container a.btn .svg-inline--fa {
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.zigzag-container .btn-primary, .zigzag-container a.btn-primary {
  background: var(--main-color) !important;
  border: none;
  color: #fff !important;
}
.zigzag-container .btn-green, .zigzag-container a.btn-green {
  background: #75c181;
  border: 1px solid #75c181;
  color: #fff !important;
}
.zigzag-container .btn-green:hover, .zigzag-container .btn-green:focus, .zigzag-container .btn-green:active, .zigzag-container .btn-green.active, .zigzag-container .btn-green.hover, .zigzag-container a.btn-green:hover, .zigzag-container a.btn-green:focus, .zigzag-container a.btn-green:active, .zigzag-container a.btn-green.active, .zigzag-container a.btn-green.hover {
  background: #63b971;
  color: #fff !important;
  border: 1px solid #63b971;
}
.zigzag-container .body-green .btn-green, .zigzag-container .body-green a.btn-green {
  color: #fff !important;
}
.zigzag-container .body-green .btn-green:hover, .zigzag-container .body-green .btn-green:focus, .zigzag-container .body-green .btn-green:active, .zigzag-container .body-green .btn-green.active, .zigzag-container .body-green .btn-green.hover, .zigzag-container .body-green a.btn-green:hover, .zigzag-container .body-green a.btn-green:focus, .zigzag-container .body-green a.btn-green:active, .zigzag-container .body-green a.btn-green.active, .zigzag-container .body-green a.btn-green.hover {
  color: #fff !important;
}
.zigzag-container .btn-blue, .zigzag-container a.btn-blue {
  background: #58bbee;
  border: 1px solid #58bbee;
  color: #fff !important;
}
.zigzag-container .btn-blue:hover, .zigzag-container .btn-blue:focus, .zigzag-container .btn-blue:active, .zigzag-container .btn-blue.active, .zigzag-container .btn-blue.hover, .zigzag-container a.btn-blue:hover, .zigzag-container a.btn-blue:focus, .zigzag-container a.btn-blue:active, .zigzag-container a.btn-blue.active, .zigzag-container a.btn-blue.hover {
  background: #41b2ec;
  color: #fff !important;
  border: 1px solid #41b2ec;
}
.zigzag-container .btn-orange, .zigzag-container a.btn-orange {
  background: #F88C30;
  border: 1px solid #F88C30;
  color: #fff !important;
}
.zigzag-container .btn-orange:hover, .zigzag-container .btn-orange:focus, .zigzag-container .btn-orange:active, .zigzag-container .btn-orange.active, .zigzag-container .btn-orange.hover, .zigzag-container a.btn-orange:hover, .zigzag-container a.btn-orange:focus, .zigzag-container a.btn-orange:active, .zigzag-container a.btn-orange.active, .zigzag-container a.btn-orange.hover {
  background: #f77e17;
  color: #fff !important;
  border: 1px solid #f77e17;
}
.zigzag-container .btn-red, .zigzag-container a.btn-red {
  background: #f77b6b;
  border: 1px solid #f77b6b;
  color: #fff !important;
}
.zigzag-container .btn-red:hover, .zigzag-container .btn-red:focus, .zigzag-container .btn-red:active, .zigzag-container .btn-red.active, .zigzag-container .btn-red.hover, .zigzag-container a.btn-red:hover, .zigzag-container a.btn-red:focus, .zigzag-container a.btn-red:active, .zigzag-container a.btn-red.active, .zigzag-container a.btn-red.hover {
  background: #f66553;
  color: #fff !important;
  border: 1px solid #f66553;
}
.zigzag-container .btn-pink, .zigzag-container a.btn-pink {
  background: #EA5395;
  border: 1px solid #EA5395;
  color: #fff !important;
}
.zigzag-container .btn-pink:hover, .zigzag-container .btn-pink:focus, .zigzag-container .btn-pink:active, .zigzag-container .btn-pink.active, .zigzag-container .btn-pink.hover, .zigzag-container a.btn-pink:hover, .zigzag-container a.btn-pink:focus, .zigzag-container a.btn-pink:active, .zigzag-container a.btn-pink.active, .zigzag-container a.btn-pink.hover {
  background: #e73c87;
  color: #fff !important;
  border: 1px solid #e73c87;
}
.zigzag-container .btn-purple, .zigzag-container a.btn-purple {
  background: #8A40A7;
  border: 1px solid #8A40A7;
  color: #fff !important;
}
.zigzag-container .btn-purple:hover, .zigzag-container .btn-purple:focus, .zigzag-container .btn-purple:active, .zigzag-container .btn-purple.active, .zigzag-container .btn-purple.hover, .zigzag-container a.btn-purple:hover, .zigzag-container a.btn-purple:focus, .zigzag-container a.btn-purple:active, .zigzag-container a.btn-purple.active, .zigzag-container a.btn-purple.hover {
  background: #7b3995;
  color: #fff !important;
  border: 1px solid #7b3995;
}
.zigzag-container .btn-cta {
  padding: 7px 15px;
}
.zigzag-container .search-btn {
  height: 40px;
}
.zigzag-container .search-btn .svg-inline--fa {
  top: 0;
  margin-right: 0;
}
.zigzag-container .form-control {
  box-shadow: none;
  height: 40px;
  border-color: #f0f0f0;
}
.zigzag-container .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #afb3bb;
}
.zigzag-container .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #afb3bb;
}
.zigzag-container .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #afb3bb;
}
.zigzag-container .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #afb3bb;
}
.zigzag-container .form-control:focus {
  border-color: #e3e3e3;
  box-shadow: none;
}
.zigzag-container input[type=text],
.zigzag-container input[type=email],
.zigzag-container input[type=password],
.zigzag-container input[type=submit],
.zigzag-container input[type=button],
.zigzag-container textarea,
.zigzag-container select {
  -moz-appearance: none;
       appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
.zigzag-container .header {
  display: none;
  background: var(--main-color);
  color: rgba(255, 255, 255, 0.85);
}
.zigzag-container .header img {
  width: 45px;
  height: 45px;
}
.zigzag-container .header span {
  display: inline-block;
  position: relative;
}
.zigzag-container .header a {
  color: #fff;
}
.zigzag-container .header .container {
  position: relative;
}
.zigzag-container .branding .logo {
  font-size: 28px;
}
.zigzag-container .branding .logo a {
  text-decoration: none;
  color: #fff;
}
.zigzag-container .branding .text-highlight {
  color: var(--main-color);
}
.zigzag-container .body-green .branding .text-highlight {
  color: #75c181;
}
.zigzag-container .body-blue .branding .text-highlight {
  color: #58bbee;
}
.zigzag-container .body-orange .branding .text-highlight {
  color: #F88C30;
}
.zigzag-container .body-red .branding .text-highlight {
  color: #f77b6b;
}
.zigzag-container .body-pink .branding .text-highlight {
  color: #EA5395;
}
.zigzag-container .body-purple .branding .text-highlight {
  color: #8A40A7;
}
.zigzag-container .branding .text-bold {
  font-weight: 800;
  color: #fff;
}
.zigzag-container .branding .icon {
  font-size: 24px;
  color: var(--main-color);
}
.zigzag-container .body-green .branding .icon {
  color: #75c181;
}
.zigzag-container .body-blue .branding .icon {
  color: #58bbee;
}
.zigzag-container .body-orange .branding .icon {
  color: #F88C30;
}
.zigzag-container .body-red .branding .icon {
  color: #f77b6b;
}
.zigzag-container .body-pink .branding .icon {
  color: #EA5395;
}
.zigzag-container .body-purple .branding .icon {
  color: #8A40A7;
}
.zigzag-container .breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 0;
}
.zigzag-container .breadcrumb li {
  color: rgba(255, 255, 255, 0.5);
}
.zigzag-container .breadcrumb li.active {
  color: rgba(255, 255, 255, 0.5);
}
.zigzag-container .breadcrumb li a {
  color: rgba(255, 255, 255, 0.5);
}
.zigzag-container .breadcrumb li a:hover {
  color: #fff;
}
.zigzag-container .breadcrumb > li + li:before {
  color: rgba(0, 0, 0, 0.4);
}
.zigzag-container .search-form {
  position: relative;
}
.zigzag-container .search-form .search-input {
  font-size: 14px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-top: 4px;
}
.zigzag-container .search-form .search-input:focus {
  border-color: #616670;
}
.zigzag-container .search-form .search-btn {
  color: #797f8b;
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 0px;
  margin-right: 0;
}
.zigzag-container .search-form .search-btn:active, .zigzag-container .search-form .search-btn:focus, .zigzag-container .search-form .search-btn:hover {
  outline: none !important;
  color: #31343a;
}
.zigzag-container .top-search-box {
  position: absolute;
  right: 15px;
  top: 15px;
}
.zigzag-container .footer {
  background: #000;
  color: #fff;
}
.zigzag-container .footer a {
  color: var(--main-color);
}
.zigzag-container .footer .fa-heart {
  color: #EA5395;
}
.zigzag-container .footer-col {
  padding: 80px 20px;
}
@media (max-width: 991px) {
  .zigzag-container .footer-col {
    padding: 20px 20px;
  }
  .zigzag-container .reverse-small {
    flex-direction: column-reverse !important;
  }
  .zigzag-container .feature-col {
    height: 250px !important;
  }
  .zigzag-container .image-input {
    font-size: 16px !important;
  }
}
@media (max-width: 575.98px) {
  .zigzag-container .top-search-box {
    width: 100%;
    position: static;
    margin-top: 15px;
  }
}
.zigzag-container .navbar-collapse.collapse.in {
  display: block !important;
}
.zigzag-container .profile-body {
  background: #f9f9f9;
}
.zigzag-container .doc-wrapper {
  min-height: 100%;
  padding: 45px 0;
  background: #f9f9f9 !important;
}
.zigzag-container .doc-body {
  position: relative;
}
.zigzag-container .doc-header {
  margin-bottom: 30px;
}
.zigzag-container .doc-header .doc-title {
  color: var(--main-color);
  margin-top: 0;
  font-size: 36px;
}
.zigzag-container .body-green .doc-header .doc-title {
  color: #75c181;
}
.zigzag-container .body-blue .doc-header .doc-title {
  color: #58bbee;
}
.zigzag-container .body-orange .doc-header .doc-title {
  color: #F88C30;
}
.zigzag-container .body-red .doc-header .doc-title {
  color: #f77b6b;
}
.zigzag-container .body-pink .doc-header .doc-title {
  color: #EA5395;
}
.zigzag-container .body-purple .doc-header .doc-title {
  color: #8A40A7;
}
.zigzag-container .doc-header .icon {
  font-size: 30px;
}
.zigzag-container .doc-header .meta {
  color: #a2a6af;
}
.zigzag-container .doc-section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.zigzag-container .doc-section .section-title {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #d7d6d6;
}
.zigzag-container .doc-section h1 {
  font-size: 24px;
  font-weight: bold;
}
.zigzag-container .doc-section h2 {
  font-size: 22px;
  font-weight: bold;
}
.zigzag-container .doc-section h3 {
  font-size: 20px;
  font-weight: bold;
}
.zigzag-container .doc-section h4 {
  font-size: 18px;
  font-weight: bold;
}
.zigzag-container .doc-section h5 {
  font-size: 16px;
  font-weight: bold;
}
.zigzag-container .doc-section h6 {
  font-size: 14px;
  font-weight: bold;
}
.zigzag-container .section-block {
  padding: 10px;
}
.zigzag-container .section-block .block-title {
  margin-top: 0;
}
.zigzag-container .section-block .list > li {
  margin-bottom: 10px;
}
.zigzag-container .section-block .list ul > li {
  margin-top: 5px;
}
.zigzag-container .question {
  font-weight: 400 !important;
  color: #3aa7aa;
}
.zigzag-container .question .body-green {
  color: #63b971;
}
.zigzag-container .body-blue .question {
  color: #41b2ec;
}
.zigzag-container .body-orange .question {
  color: #f77e17;
}
.zigzag-container .body-pink .question {
  color: #e73c87;
}
.zigzag-container .body-purple .question {
  color: #7b3995;
}
.zigzag-container .question .svg-inline--fa {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  position: relative;
  top: -2px;
}
.zigzag-container .question .badge {
  font-size: 11px;
  vertical-align: middle;
}
.zigzag-container .answer {
  color: #616670;
}
.zigzag-container .code-block {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  font-size: 20px;
}
.zigzag-container .callout-block {
  padding: 30px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  margin-bottom: 30px;
}
.zigzag-container .callout-block a {
  color: rgba(0, 0, 0, 0.55) !important;
}
.zigzag-container .callout-block a:hover {
  color: rgba(0, 0, 0, 0.65) !important;
}
.zigzag-container .callout-block .icon-holder {
  font-size: 30px;
  position: absolute;
  left: 30px;
  top: 30px;
  color: rgba(0, 0, 0, 0.25);
}
.zigzag-container .callout-block .content {
  margin-left: 60px;
}
.zigzag-container .callout-block .content p:last-child {
  margin-bottom: 0;
}
.zigzag-container .callout-block .callout-title {
  margin-top: 0;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.65);
}
.zigzag-container .callout-info {
  background: #58bbee;
  color: #fff;
}
.zigzag-container .callout-success {
  background: #75c181;
  color: #fff;
}
.zigzag-container .callout-warning {
  background: #F88C30;
  color: #fff;
}
.zigzag-container .callout-danger {
  background: #f77b6b;
  color: #fff;
}
.zigzag-container .table > thead > tr > th {
  border-bottom-color: #8bd6d8;
}
.zigzag-container .body-green .table > thead > tr > th {
  border-bottom-color: #bbe1c1;
}
.zigzag-container .body-blue .table > thead > tr > th {
  border-bottom-color: #b5e1f7;
}
.zigzag-container .body-orange .table > thead > tr > th {
  border-bottom-color: #fbc393;
}
.zigzag-container .body-pink .table > thead > tr > th {
  border-bottom-color: #f5aecd;
}
.zigzag-container .body-purple .table > thead > tr > th {
  border-bottom-color: #b87fce;
}
.zigzag-container .table-bordered > thead > tr > th {
  border-bottom-color: inherit;
}
.zigzag-container .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}
.zigzag-container .screenshot-holder {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}
.zigzag-container .screenshot-holder img {
  border: 1px solid #f0f0f0;
}
.zigzag-container .screenshot-holder .mask {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.zigzag-container .screenshot-holder .mask .svg-inline--fa {
  color: #fff;
  font-size: 42px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
}
.zigzag-container .screenshot-holder:hover .mask {
  visibility: visible;
}
.zigzag-container .jumbotron h1 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 30px;
}
.zigzag-container .author-profile {
  margin-top: 30px;
}
.zigzag-container .author-profile img {
  width: 100px;
  height: 100px;
}
.zigzag-container .speech-bubble {
  background: #fff;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}
.zigzag-container .speech-bubble .speech-title {
  font-size: 16px;
}
.zigzag-container .jumbotron .speech-bubble p {
  font-size: 14px;
  font-weight: normal;
  color: #616670;
}
.zigzag-container .speech-bubble:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.zigzag-container .theme-card {
  text-align: center;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  height: 100%;
}
.zigzag-container .theme-card .card-block {
  padding: 15px;
}
.zigzag-container .theme-card .mask {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.zigzag-container .theme-card .mask .icon {
  color: #fff;
  font-size: 42px;
  margin-top: 25%;
}
.zigzag-container .theme-card:hover .mask {
  visibility: visible;
}
.zigzag-container .body-green .header {
  border-color: #75c181;
}
.zigzag-container .body-green a {
  color: #75c181;
}
.zigzag-container .body-green a:hover {
  color: #52b161;
}
.zigzag-container .body-blue .header {
  border-color: #58bbee;
}
.zigzag-container .body-blue a {
  color: #58bbee;
}
.zigzag-container .body-blue a:hover {
  color: #2aa8e9;
}
.zigzag-container .body-orange .header {
  border-color: #F88C30;
}
.zigzag-container .body-orange a {
  color: #F88C30;
}
.zigzag-container .body-orange a:hover {
  color: #ed7108;
}
.zigzag-container .body-pink .header {
  border-color: #EA5395;
}
.zigzag-container .body-pink a {
  color: #EA5395;
}
.zigzag-container .body-pink a:hover {
  color: #e42679;
}
.zigzag-container .body-purple .header {
  border-color: #8A40A7;
}
.zigzag-container .body-purple a {
  color: #8A40A7;
}
.zigzag-container .body-purple a:hover {
  color: #6c3282;
}
.zigzag-container .body-red .header {
  border-color: #f77b6b;
}
.zigzag-container .body-red a {
  color: #f77b6b;
}
.zigzag-container .body-red a:hover {
  color: #f4503b;
}
.zigzag-container .doc-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.zigzag-container .sticky {
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}
.zigzag-container .nav-link {
  font-weight: 600;
}
.zigzag-container .nav-item button {
  color: #fff;
}
.zigzag-container .nav-item button:hover {
  color: white;
}
.zigzag-container .image-input {
  font-size: 18px;
}
.zigzag-container .image-input-api {
  max-width: 300px;
  display: inline;
}
.zigzag-container .custom-file {
  margin: 29px auto;
}
.zigzag-container .doc-menu {
  list-style: none;
}
.zigzag-container .doc-menu .nav-link {
  margin-bottom: 5px;
  display: block;
  padding: 5px 15px;
  color: #616670;
}
.zigzag-container .doc-menu .nav-link:hover, .zigzag-container .doc-menu .nav-link:focus {
  color: #494d55;
  text-decoration: none;
  background: none;
}
.zigzag-container .doc-menu .nav-link.active {
  background: none;
  color: var(--main-color);
  font-weight: 600;
}
.zigzag-container .body-green .doc-menu .nav-link.active {
  color: #75c181;
  border-color: #75c181;
}
.zigzag-container .body-blue .doc-menu .nav-link.active {
  color: #58bbee;
  border-color: #58bbee;
}
.zigzag-container .body-orange .doc-menu .nav-link.active {
  color: #F88C30;
  border-color: #F88C30;
}
.zigzag-container .body-red .doc-menu .nav-link.active {
  color: #f77b6b;
  border-color: #f77b6b;
}
.zigzag-container .body-pink .doc-menu .nav-link.active {
  color: #EA5395;
  border-color: #EA5395;
}
.zigzag-container .body-purple .doc-menu .nav-link.active {
  color: #8A40A7;
  border-color: #8A40A7;
}
.zigzag-container .doc-sub-menu {
  list-style: none;
  padding-left: 0;
}
.zigzag-container .doc-sub-menu .nav-link {
  margin-bottom: 10px;
  font-size: 12px;
  display: block;
  color: #616670;
  padding: 0;
  padding-left: 34px;
  background: none;
}
.zigzag-container .doc-sub-menu .nav-link:first-child {
  padding-top: 5px;
}
.zigzag-container .doc-sub-menu .nav-link:hover {
  color: #494d55;
  text-decoration: none;
  background: none;
}
.zigzag-container .doc-sub-menu .nav-link:focus {
  background: none;
}
.zigzag-container .doc-sub-menu .nav-link.active {
  background: none;
  color: var(--main-color);
}
.zigzag-container .body-green .doc-sub-menu .nav-link.active {
  color: #75c181;
}
.zigzag-container .body-blue .doc-sub-menu .nav-link.active {
  color: #58bbee;
}
.zigzag-container .body-orange .doc-sub-menu .nav-link.active {
  color: #F88C30;
}
.zigzag-container .body-red .doc-sub-menu .nav-link.active {
  color: #f77b6b;
}
.zigzag-container .body-pink .doc-sub-menu .nav-link.active {
  color: #EA5395;
}
.zigzag-container .body-purple .doc-sub-menu .nav-link.active {
  color: #8A40A7;
}
.zigzag-container .promo-block {
  background: #3aa7aa;
}
.zigzag-container .body-green .promo-block {
  background: #63b971;
}
.zigzag-container .body-blue .promo-block {
  background: #41b2ec;
}
.zigzag-container .body-orange .promo-block {
  background: #f77e17;
}
.zigzag-container .body-pink .promo-block {
  background: #e73c87;
}
.zigzag-container .body-purple .promo-block {
  background: #7b3995;
}
.zigzag-container .promo-block a {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.zigzag-container .promo-block a:hover {
  color: rgba(0, 0, 0, 0.7);
}
.zigzag-container .promo-block .promo-block-inner {
  padding: 45px;
  color: #fff;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.zigzag-container .promo-block .promo-title {
  font-size: 20px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 45px;
}
.zigzag-container .promo-block .promo-title .svg-inline--fa {
  color: rgba(0, 0, 0, 0.6);
}
.zigzag-container .promo-block .figure-holder-inner {
  background: #fff;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}
.zigzag-container .promo-block .figure-holder-inner img {
  border: 5px solid #fff;
}
.zigzag-container .promo-block .figure-holder-inner .mask {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  text-decoration: none;
}
.zigzag-container .promo-block .figure-holder-inner .mask .svg-inline--fa {
  color: #fff;
  font-size: 36px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
}
.zigzag-container .promo-block .figure-holder-inner .mask .svg-inline--fa.pink {
  color: #EA5395;
}
.zigzag-container .promo-block .figure-holder-inner:hover .mask {
  visibility: visible;
}
.zigzag-container .promo-block .content-holder-inner {
  padding-left: 15px;
  padding-right: 15px;
}
.zigzag-container .promo-block .content-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
}
.zigzag-container .promo-block .highlight {
  color: rgba(0, 0, 0, 0.6);
}
.zigzag-container .promo-block .btn-cta {
  background: rgba(0, 0, 0, 0.35);
  border: none;
  color: #fff !important;
  margin-bottom: 15px;
}
.zigzag-container .promo-block .btn-cta:hover {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff !important;
}
@media (max-width: 767px) {
  .zigzag-container .jumbotron {
    padding: 30px 15px;
  }
  .zigzag-container .jumbotron h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .zigzag-container .jumbotron p {
    font-size: 18px;
  }
  .zigzag-container .promo-block .promo-block-inner {
    padding: 30px 15px;
  }
  .zigzag-container .promo-block .content-holder-inner {
    padding: 0;
  }
  .zigzag-container .promo-block .promo-title {
    margin-bottom: 30px;
  }
  .zigzag-container .image-input {
    font-size: 12px !important;
  }
  .zigzag-container .profile-menu-div {
    padding: 0;
  }
}
.zigzag-container .sticky {
  position: sticky;
  top: 0;
}
.zigzag-container .sticky:before,
.zigzag-container .sticky:after {
  content: "";
  display: table;
}
.zigzag-container .landing-page .header {
  background: #494d55;
  color: rgba(255, 255, 255, 0.85);
  padding: 60px 0;
}
.zigzag-container .landing-page .header a {
  color: #fff;
}
.zigzag-container .landing-page .branding {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.zigzag-container .landing-page .branding .logo {
  font-size: 38px;
}
.zigzag-container .landing-page .branding .text-bold {
  font-weight: 800;
  color: #fff;
}
.zigzag-container .landing-page .branding .icon {
  font-size: 32px;
  color: var(--main-color);
}
.zigzag-container .tagline {
  font-size: 24px;
  color: var(--main-color);
}
.zigzag-container .landing-page .tagline p {
  margin-bottom: 5px;
}
.zigzag-container .landing-page .tagline p:last-child {
  margin-bottom: 0;
}
.zigzag-container .landing-page .tagline .text-highlight {
  color: #266f71;
}
.zigzag-container .landing-page .fa-heart {
  color: #EA5395;
}
.zigzag-container .landing-page .cta-container {
  margin-top: 30px;
}
.zigzag-container .landing-page .social-container .twitter-tweet {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 5px;
}
.zigzag-container .landing-page .social-container .fab-like {
  display: inline-block;
}
.zigzag-container .logo-name {
  display: inline-block;
  font-size: 22px;
  font-family: "Cera Pro Bold", arial, sans-serif;
}
.zigzag-container .cards-section {
  padding: 50px 0;
}
.zigzag-container .cards-section .title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}
.zigzag-container .cards-section .intro {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 60px;
}
.zigzag-container .cards-section .cards-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.zigzag-container .cards-section .item {
  margin-bottom: 30px;
}
.zigzag-container .cards-section .item .icon-holder {
  margin-bottom: 15px;
}
.zigzag-container .cards-section .item .icon {
  font-size: 36px;
}
.zigzag-container .sub-item {
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.zigzag-container .sub-item > .icon-holder {
  margin: 10px;
  color: var(--main-color);
}
.zigzag-container .cards-section .item .title {
  font-size: 20px;
  font-weight: 600;
}
.zigzag-container .cards-section .item .intro {
  margin-bottom: 15px;
}
.zigzag-container .cards-section .item-inner {
  margin: 2px;
  padding: 20px;
  background: white;
  position: relative;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.zigzag-container .cards-section .item-inner .link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* for IE8 */
}
.zigzag-container .item-pricing {
  padding: 0;
  margin: 0;
}
.zigzag-container .pricing-recommended {
  margin: 0 !important;
  border-radius: 0 !important;
  border: 2px solid #246a6b !important;
  position: relative;
  top: -35px;
}
.zigzag-container .most-popular {
  height: 35px;
  background-color: #246a6b;
  color: white;
  position: relative;
  top: -35px;
  border-radius: 5px 5px 0 0;
  padding: 3px 0;
}
.zigzag-container .lightblue-bg {
  background-color: var(--bright-color) !important;
}
.zigzag-container .pricing-inner {
  min-height: 450px;
  margin: 0 !important;
}
.zigzag-container .red-color {
  color: #db1500;
}
.zigzag-container .primary-color {
  color: #36a1a8;
}
.zigzag-container .cards-section .item-inner:hover {
  background: #f5f5f5;
}
.zigzag-container .cards-section .item-primary .item-inner {
  border-top: 3px solid var(--main-color);
}
.zigzag-container .cards-section .item-primary .item-inner:hover .title {
  color: #2d8284;
}
.zigzag-container .cards-section .item-primary .icon {
  color: var(--main-color);
}
.zigzag-container .cards-section .item-green .item-inner {
  border-top: 3px solid #75c181;
}
.zigzag-container .cards-section .item-green .item-inner:hover .title {
  color: #48a156;
}
.zigzag-container .cards-section .item-green .icon {
  color: #75c181;
}
.zigzag-container .cards-section .item-blue .item-inner {
  border-top: 3px solid #58bbee;
}
.zigzag-container .cards-section .item-blue .item-inner:hover .title {
  color: #179de2;
}
.zigzag-container .cards-section .item-blue .icon {
  color: #58bbee;
}
.zigzag-container .cards-section .item-orange .item-inner {
  border-top: 3px solid #F88C30;
}
.zigzag-container .cards-section .item-orange .item-inner:hover .title {
  color: #d46607;
}
.zigzag-container .cards-section .item-orange .icon {
  color: #F88C30;
}
.zigzag-container .cards-section .item-red .item-inner {
  border-top: 3px solid #f77b6b;
}
.zigzag-container .cards-section .item-red .item-inner:hover .title {
  color: #f33a22;
}
.zigzag-container .cards-section .item-red .icon {
  color: #f77b6b;
}
.zigzag-container .cards-section .item-pink .item-inner {
  border-top: 3px solid #EA5395;
}
.zigzag-container .cards-section .item-pink .item-inner:hover .title {
  color: #d61a6c;
}
.zigzag-container .cards-section .item-pink .icon {
  color: #EA5395;
}
.zigzag-container .cards-section .item-purple .item-inner {
  border-top: 3px solid #8A40A7;
}
.zigzag-container .cards-section .item-purple .item-inner:hover .title {
  color: #5c2b70;
}
.zigzag-container .cards-section .item-purple .icon {
  color: #8A40A7;
}
@media (max-width: 575.98px) {
  .zigzag-container .main-search-box {
    width: 100%;
  }
  .zigzag-container .main-search-box .search-form .search-input {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .zigzag-container .cards-section .item-inner {
    padding: 30px 15px;
  }
}
@media (min-width: 576px) {
  .zigzag-container .main-search-box .search-form .search-input {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .zigzag-container .main-search-box .search-form .search-input {
    width: 560px;
  }
}
.zigzag-container .nav-button {
  font-weight: 400;
  font-size: 17px;
  margin: 5px;
}
.zigzag-container .nav-button .nav-link {
  min-width: 90px;
}
.zigzag-container .price {
  font-weight: 600;
  font-size: 36px;
}
.zigzag-container .price-limit {
  font-weight: 400;
  font-size: 28px;
}
.zigzag-container .footer-copyright {
  margin-top: 15px;
}
.zigzag-container .footer-link {
  font-size: 15px;
  display: block;
  color: #aaa !important;
  margin: 20px;
}
.zigzag-container .footer-link:hover, .zigzag-container .footer-social:hover {
  text-decoration: none;
  color: #fff !important;
}
.zigzag-container .footer-social {
  font-size: 26px;
  display: inline;
  color: #aaa !important;
}
.zigzag-container .footer-text {
  font-size: 15px;
  color: #ccc;
}
.zigzag-container .footer-menu {
  max-width: 1200px;
  margin: auto;
}
.zigzag-container .form-field {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}
.zigzag-container .form-field input {
  height: 50px;
}
.zigzag-container .form-field button {
  max-width: 250px;
}
.zigzag-container .signin {
  max-width: 700px;
  background-color: #fff;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
}
.zigzag-container .medium-box {
  max-width: 800px;
  background-color: #fff;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
}
.zigzag-container #exTab3 {
  color: #000;
  margin: auto;
  max-width: 900px;
}
.zigzag-container .nav-pills {
  margin: 20px 0;
}
.zigzag-container .nav-pills a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
.zigzag-container .main-nav-selection {
  max-width: 480px;
  text-align: center;
}
.zigzag-container .profile-header {
  max-width: 1000px;
  margin: 5px auto;
  padding: 25px;
}
.zigzag-container .profile-header-msg {
  font-size: 24px;
  color: #333;
}
.zigzag-container .profile-header {
  max-width: 1000px;
  margin: 5px auto;
  padding: 25px;
}
.zigzag-container .profile-header-msg {
  font-size: 24px;
  color: #333;
}
.zigzag-container .profile-menu-div {
  background-color: #ebf2f2;
  border-bottom: 1px solid #d1d8e1;
  border-top: 1px solid #d1d8e1;
  padding: 0 10px;
}
.zigzag-container .profile-menu a {
  color: #789;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 22px 15px;
}
.zigzag-container .profile-menu a:hover {
  color: var(--main-color);
}
.zigzag-container .tab-span {
  display: inline-block;
  vertical-align: top;
}
.zigzag-container .tab-entry {
  padding: 5px;
  color: #666;
  margin: 15px 0 !important;
  padding: 25px 10px !important;
  border: 1px solid #eee;
  background-color: white;
}
.zigzag-container .tab-entry > h4 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  overflow-x: auto;
}
.zigzag-container .tab-entry > h5 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  overflow-x: auto;
}
.zigzag-container .nav-section a:hover {
  background-color: #ddd;
  text-decoration: none;
}
.zigzag-container .profile-menu .active a {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.zigzag-container .active > a {
  color: #fff;
}
.zigzag-container .nav-pills {
  text-align: center;
  margin: auto;
}
.zigzag-container .nav-pills .nav-item > a {
  padding: 10px;
  margin: 5px;
  width: 150px;
  color: var(--main-color);
  border: none;
  font-size: 18px !important;
  font-weight: 400;
  border-radius: 50px;
  background-color: var(--bright-color);
}
.zigzag-container .nav-item .active {
  background-color: var(--main-color) !important;
}
.zigzag-container .nav-pills-tab:hover {
  background-color: #eee;
}
.zigzag-container .main-demo {
  max-width: 800px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}
.zigzag-container #exTab3 .tab-content {
  margin: 10px 0;
  background-color: #fff;
  padding: 5px 1%;
  min-height: 300px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eee;
}
.zigzag-container .nutrition-section a {
  color: #494d55;
  background-color: #f5f5f5;
}
.zigzag-container .profile-section a:hover {
  background-color: #ddd;
}
.zigzag-container .nutrition-section a:hover {
  background-color: #ddd;
  text-decoration: none;
}
.zigzag-container .profile-section .active a {
  background-color: #494d55;
  color: #fff;
}
.zigzag-container .nutrition-section .active a {
  background-color: #494d55;
  color: #fff;
}
.zigzag-container .nutrition-section .nav-pills > li > a {
  padding: 10px;
}
.zigzag-container .half-tab {
  padding: 30px;
}
.zigzag-container .tab-entry {
  padding: 5px;
  color: #666;
  margin: 5%;
  font-size: 16px;
}
.zigzag-container .tab-entry > h4 {
  color: #000;
  overflow-x: auto;
}
.zigzag-container .landing-page-bg {
  background-color: var(--bright-color);
}
.zigzag-container .landing-page-bg2 {
  background-color: var(--bright-color);
}
.zigzag-container .index-header {
  padding: 15px;
}
.zigzag-container .main-line {
  color: var(--main-color);
  font-size: 42px;
  font-weight: 200;
}
.zigzag-container .main-headline {
  color: var(--main-color);
  font-size: 40px !important;
  margin: 0px;
}
.zigzag-container .sub-headline {
  font-size: 22px !important;
  color: var(--main-color);
}
.zigzag-container .sub-text {
  width: 70%;
  margin: auto;
}
.zigzag-container .img-example {
  width: 350px;
  height: 260px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.zigzag-container .center {
  margin: auto;
}
.zigzag-container .original-image-div {
  margin: 10px 20px 20px 20px;
}
.zigzag-container #original-div {
  margin: auto;
}
.zigzag-container .demo {
  overflow-x: auto;
  margin: 20px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: 200;
}
.zigzag-container .demo th {
  font-size: 14px;
  padding: 15px 5px;
}
.zigzag-container .demo td {
  font-size: 16px;
  font-weight: 400;
}
.zigzag-container .img-main {
  max-width: 100%;
  max-height: 400px;
}
.zigzag-container .img-api-main {
  width: 100%;
  max-width: 300px;
  max-height: 80%;
  margin: 20px;
}
.zigzag-container #api-select {
  width: 150px;
  margin: 20px auto;
}
.zigzag-container .result {
  margin-top: 30px;
}
.zigzag-container .document-left-indent {
  padding-left: 30px;
}
.zigzag-container .api-block {
  margin-top: 20px;
  margin-bottom: 20px;
}
.zigzag-container .query-input {
  margin: auto;
  height: 60px;
  font-size: 18px;
  font-weight: 200;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.zigzag-container .query-text {
  margin-bottom: 20px;
}
.zigzag-container .relative {
  position: relative !important;
}
.zigzag-container .main-nav {
  font-size: 20px !important;
  padding: 15px;
}
.zigzag-container #text-loader, .zigzag-container #image-loader, .zigzag-container #text-loader-recipe {
  display: none;
  margin-right: 10px !important;
}
.zigzag-container .btn-success {
  font-weight: 400 !important;
}
.zigzag-container .button-huge {
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
}
.zigzag-container .button-huge-hollow {
  color: var(--main-color);
  border-bottom: 2px solid var(--mid-color);
  border-radius: 0;
}
.zigzag-container .button-huge-hollow:hover {
  color: var(--main-color) !important;
}
.zigzag-container .price-sub {
  font-size: 16px;
}
.zigzag-container .api-example-query {
  height: 30px;
  width: 50vw;
  max-width: 300px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
.zigzag-container .item-tab-pane:hover {
  cursor: pointer;
}
.zigzag-container .demo-title {
  color: white;
  background-color: var(--mid-color);
  font-size: 20px;
  border-radius: 8px 8px 0 0;
}
.zigzag-container .enable-button {
  border: none;
  background-color: var(--main-color);
}
.zigzag-container .enable-button:disabled {
  background-color: #aaa;
}
.zigzag-container .invoice-link {
  padding: 5px 0;
  margin: 15px auto;
  background-color: #ededed;
  width: 250px;
}
.zigzag-container .invoice-link:hover {
  background-color: #d5d5d5;
}
.zigzag-container #reallyChangeApiKey, .zigzag-container #reallyDeleteAccount, .zigzag-container #changePasswordForm {
  background-color: white;
}
.zigzag-container #reallyChangeApiKey, .zigzag-container #reallyDeleteAccount {
  padding: 5%;
}
.zigzag-container #changePasswordForm {
  padding: 20px;
}
.zigzag-container .spinner {
  color: var(--main-color);
  width: 200px;
  height: 200px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.zigzag-container .spinner-container {
  height: 100%;
  text-align: center;
  position: relative;
}
.zigzag-container .feature-img {
  width: 100%;
}
.zigzag-container .inner-feature-col {
  padding: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.zigzag-container .feature-col {
  height: 400px;
  position: relative;
}
.zigzag-container .api-demo {
  display: inline;
  font-size: 12px;
  padding: 5px;
  background-color: orange;
  color: white;
  margin: 0 5px;
  border-radius: 3px;
}
.zigzag-container .home-desc {
  text-align: left;
  margin-bottom: 30px;
}
.zigzag-container .btn-og {
  border: none;
  background-color: #ff8503;
}
.zigzag-container pricing-header {
  color: #555555;
  max-width: 600px;
  margin: auto;
  padding: 30px;
}
.zigzag-container .checkout-progress-bar {
  border-bottom: 1px solid #ccc;
  margin: 20px 10px;
}
.zigzag-container .checkout-progress-tab {
  display: inline-block;
  width: 50%;
  padding: 0;
  margin: 0;
}
.zigzag-container .checkout-progress-tab p {
  color: #aaa;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
  margin: 0;
}
.zigzag-container .progress-tab-active p {
  color: #09306f !important;
  border-bottom: 3px solid #09306f;
}
.zigzag-container .subscription-review {
  margin: 30px auto;
  padding-top: 20px;
  border: 1px solid #eee;
  background-color: white;
  max-width: 90% !important;
}
.zigzag-container .subscription-review-table {
  max-width: 100% !important;
}
.zigzag-container .checkout-total {
  margin-bottom: 0;
}
.zigzag-container .checkout-mini-text {
  font-size: 14px;
  padding-bottom: 10px;
  max-width: 800px;
  margin: auto;
}
.zigzag-container .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;
}
.zigzag-container .overlay-message {
  padding: 20px;
  max-height: 95%;
  overflow-y: auto;
  max-width: 95%;
  margin: 30px auto;
  background-color: #f7f7f7;
  border-radius: 3px;
  z-index: 1002;
}
.zigzag-container .close-button {
  padding: 5px;
  font-size: 16px;
  background: none;
  border: none;
}
.zigzag-container .back-button {
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: transparent;
}
.zigzag-container .text-left {
  text-align: left;
}
.zigzag-container .side-chart {
  padding: 20px;
}
.zigzag-container .main-chart {
  padding: 20px;
}
.zigzag-container .select-chart {
  max-width: 200px;
  margin: auto;
}
.zigzag-container .chart-container-small {
  max-width: 350px;
  max-height: 350px;
  margin: auto;
}
.zigzag-container .btn-og {
  border: none;
  background-color: #ff8503;
}
.zigzag-container .btn-og:hover {
  border: none;
  background-color: #ff8503;
}
.zigzag-container .api-usage-col {
  padding: 5px 15px;
}
.zigzag-container .api-tab-entry-total {
  border-radius: 3px;
  border: 2px solid #022ba6;
  color: #022ba6;
  padding: 10px;
  min-height: 175px;
}
.zigzag-container .api-tab-entry {
  color: white;
  padding: 10px;
  border-radius: 3px;
  min-height: 175px;
}
.zigzag-container .pricing-active {
  background-color: var(--main-color) !important;
  color: white !important;
}
.zigzag-container .pricing-active .fa-check-circle {
  color: #99ff99 !important;
}
.zigzag-container .pricing-active .fa-times-circle {
  color: #ff9999 !important;
}
@media (max-width: 767px) {
  .zigzag-container .api-block .nav > li > a {
    font-size: 2.7vw !important;
    padding: 2.3vw !important;
  }
  .zigzag-container .query-input {
    height: 50px !important;
    font-size: 16px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .zigzag-container .main-nav {
    font-size: 15px !important;
    padding: 10px !important;
  }
  .zigzag-container .main-nav-selection {
    margin: 20px auto;
  }
  .zigzag-container .profile-menu-div {
    padding: 0;
  }
  .zigzag-container .profile-menu a {
    font-size: 2.5vw;
    padding: 10px;
  }
  .zigzag-container .main-chart {
    padding: 5px !important;
  }
  .zigzag-container .home-subtitle {
    font-size: 30px;
    margin: 15px;
  }
  .zigzag-container .home-subtitle-2 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px;
  }
  .zigzag-container .text-center-small-only {
    text-align: center;
  }
  .zigzag-container .top-padding {
    padding-top: 0;
  }
  .zigzag-container .overlay-message {
    padding: 5px !important;
  }
  .zigzag-container .item-pricing {
    margin: 0 auto;
  }
  .zigzag-container .back-button {
    font-size: 14px;
  }
  .zigzag-container .checkout-progress-tab p {
    font-size: 12px;
    padding: 10px;
  }
  .zigzag-container .subscription-review-table p {
    font-size: 14px;
  }
  .zigzag-container .api-item-inner {
    margin: 8px !important;
  }
  .zigzag-container .nav-pills .nav-item > a {
    font-size: 12px !important;
    width: 100px;
  }
}
.zigzag-container .healthcare-searchbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.zigzag-container .healthcare-searchbox .select-dropdown {
  width: 70%;
}
.zigzag-container .healthcare-searchbox button {
  background-color: white;
}
.zigzag-container .hospital-list-container {
  height: 200px;
  overflow: auto;
  margin-top: 24px;
}
.zigzag-container .health-care-list {
  font-family: "Cormorant", serif;
  font-size: 18px;
  font-weight: 500;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./components/whatweoffer.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.find-health-care-btn {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: rgb(93 93 255/var(--tw-text-opacity));
  transition: all 0.2s ease;
  height: 56px;
  font-size: 20px;
  font-weight: bold;
}

.find-health-care-btn:active {
  transform: scale(0.96);
}

.find-health-care-btn:before,
.find-health-care-btn:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.find-health-care-btn:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.find-health-care-btn:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.track-diet-btn {
  width: 100%;
  height: 56px;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 8px;
}

.track-diet-btn:hover {
  color: rgb(21 23 25/var(--tw-bg-opacity));
}

.track-diet-btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.track-diet-btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  transition: all 0.5s;
}

.heart-rate-container {
  width: 100% !important;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
}

.heart-rate-container .heart-rate {
  position: absolute;
  width: auto; /* Adjust depending on your specific image */
  min-width: 200%; /* Ensure the image is wide enough to cover the movement */
  animation: slide 10s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20%); /* Adjust based on the actual width of your image */
  }
}
